---
Checks: '-modernize-use-trailing-return-type
  -cppcoreguidelines-special-member-functions
  -hicpp-special-member-functions
  -readability-function-cognitive-complexity'
InheritParentConfig: true
