---
Checks: '-modernize-use-trailing-return-type,
  -*-special-member-functions,
  -readability-function-cognitive-complexity,
  -*-magic-numbers,
  -bugprone-unchecked-optional-access'
InheritParentConfig: true
