---
Checks: '*
  -cert-err58-cpp
  -altera-*
  -android-*
  -darwin-*  
  -fuchsia-*
  -google-*
  -linuxkernel-*  
  -llvm-*
  -llvmlibc-*  
  -mpi-*  
  -objc-*  
  -openmp-* 
  -zircon-*'
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
WarningsAsErrors:  '*'
HeaderFilterRegex: '.*\.h'
FormatStyle:       none
