---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 130
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortBlocksOnASingleLine: "Empty"
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: "Never"
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: "All"
BreakBeforeBraces: "Allman"
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^\.]*>'
    Priority: 1000
  - Regex: '^<[^/]*>'
    Priority: 1500
  - Regex: '^<.*\.h(pp)?>'
    Priority: 2000
  - Regex: '^\"'
    Priority: 3000
IndentPPDirectives: "AfterHash"
DerivePointerAlignment: false
PointerAlignment: Left
NamespaceIndentation: "All"
