---
Checks: '*,
  -altera-*,
  -android-*,
  -darwin-*,
  -fuchsia-*,
  -google-*,
  -linuxkernel-*,  
  -llvm-*,
  -llvmlibc-*,  
  -mpi-*,  
  -objc-*,
  -openmp-*, 
  -zircon-*,
  -cert-err58-cpp,
  -performance-enum-size'
CheckOptions:
  - key: misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value: 1
WarningsAsErrors:  '*'
HeaderFilterRegex: '.*\.h'
FormatStyle:       none
